{% extends 'base.html.twig' %}

{% block title %}On s'fait ça !{% endblock %}

{% block body %}
    <SECTION class="index-section">
        <div class="conteneur-flex">
            <div class="contenu-texte">
                <h3 class="accroche">Des sorties simples, proches et étudiantes !</h3>
                <h1 class="titre1">Trouve quoi faire</h1>
                <h2 class="titre2">entre deux cours.</h2>
            </div>
            <div class="pseudoInfo">
                <span>   {{ 'now' | date ("d/m/Y") }}<br>  </span>
                <span>  {{ app.user.name }} {{ app.user.lastname|first }}.  </span>
            </div>
        </div>
        <section class="filtreList">
            {{ form_start(eventFormSearch) }}

            {{ form_row(eventFormSearch.name) }}
            {{ form_row(eventFormSearch.category) }}
            <span class="search-campus">
                   {{ form_row(eventFormSearch.campus) }}
       </span>
            {{ form_row(eventFormSearch.dateStart) }}
            {{ form_row(eventFormSearch.deadline) }}
            {{ form_row(eventFormSearch.organizer) }}
            {{ form_row(eventFormSearch.registered) }}
            {{ form_row(eventFormSearch.notRegistered) }}
            {{ form_row(eventFormSearch.terminee) }}
            {{ form_row(eventFormSearch.search) }}
            {{ form_end(eventFormSearch) }}
        </section>

        <section class="eventList">
            {% for event in events %}
                {% include 'event/_event_card.html.twig' with { event: event } %}
            {% else %}
                <p>Aucune sortie trouvée</p>
            {% endfor %}
        </section>
    </SECTION>
{% endblock %}


