{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form class="container-form-login" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security', 'fr') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Vous êtes connécté en tant que {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="loginTitre">Merci de vous connecter !</h1>
    <label class="labelLogin" for="inputUsername">Pseudonyme : </label>
    <input class="inputLogin" type="text" value="{{ last_username }}" name="username" id="inputUsername"  autocomplete="username" required autofocus>
    <label  class="labelLogin" for="inputPassword">Mot de passe : </label>
    <input class="inputLogin" type="password" name="password" id="inputPassword"  autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

    <div class="ui-check">
        <div class="ui-check-box">
            <input id="remember_me" type="checkbox" name="_remember_me">
            <label for="remember_me"></label>
        </div>
        <label for="remember_me" class="ui-check-text">Se souvenir de moi</label>
    </div>

    <button class="" type="submit">
        Se connecter
    </button>
    <a href="{{ path('app_forgot_password_request') }}">
        Mot de passe oublié
    </a>
</form>

{% endblock %}
