<div class="contenu-texte create-location marginLeft">

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-actions">
        <button class="btn-update">
            {{ button_label|default('Sauvegarder') }}
        </button>

        <a href="{{ path('app_campus_index') }}" class="retourMenu">
            Retour aux Campus
        </a>

        {{ include('campus/_delete_form.html.twig') }}
    </div>

    {{ form_end(form) }}

</div>
