<nav class="menu">
    <ul>
        <li><a href="{{ path('main_event') }}">Accueil</a></li>
        <li><a href="{{ path('main_mentions') }}">Mentions légales</a></li>
        <li><a href="{{ path('main_about') }}">Qui somme nous</a></li>
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}

                    <li><a href="{{ path('app_city_index') }}">Villes</a></li>
                    <li><a href="{{ path('app_campus_index') }}">Campus</a></li>
                    <li><a href="{{ path('create_user') }}">Création d'utilisateur</a></li>
                    <li><a href="{{ path('create_users_csv') }}">Ajout utilisateur CSV</a></li>
                    <li><a href="{{ path('user_list') }}">Liste d'utilisateurs</a></li>



            {% endif %}
            <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
            <li><a href="{{ path('update', {'id': app.user.id}) }}">Mon Profil</a></li>
            <li ><a class="btn-create-event" href="{{ path('create_event') }}">Créer un évènement</a></li>

        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>
