{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <h1>Villes</h1>

    <section>
        <h2>Filter les villes</h2>
        {{ form_start(formCitySearch) }}
        {{ form_row(formCitySearch.name) }}
        {{ form_end(formCitySearch) }}
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Id : </th>
                <th>Nom : </th>
                <th>Code Postal : </th>
                <th>Actions :</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cityList %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.zipCode }}</td>
                <td>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_city_show', {'id': city.id}) }}">
                        <button class="">Détail</button></a>
                    <a href="{{ path('app_city_edit', {'id': city.id}) }}">
                        <button>Modifier</button></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de donées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_city_new') }}">
        <button>Créer une nouvelle ville</button></a>
    {% endif %}
{% endblock %}
