<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}On S'fait ca !{% endblock %}</title>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <link rel="icon" href="{{ asset('img/logo.png') }}">

</head>
<body>
<div class="container">
    <header>
        <a href="{{ path('main_event') }}">
            <img class="logoNav" src="{{ asset('img/logo.png') }}" alt="logo">
        </a>
        {% include 'views/nav/nav.html.twig' %}
    </header>
    <main>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include 'views/nav/nav.html.twig' %}
        <div class="footer-infos">
            <p>
                &copy; {{ 'now'|date('Y') }} On s'fait ça! -- Projet réalisé en collaboration avec Arthur RUGHOOBUR et Adrien LE CLECH.
            </p>
        </div>
    </footer>
</div>
{% block extraJs %} {% endblock %}
</body>
</html>
