<div {{ attributes }}>
    {{ form_errors(form) }}

    {{ form_start(form, {
        attr: {
            'data-model': 'on(change)|*',
            'data-action': 'live#action:prevent',
            'onsubmit': 'return false;'

        }
    }) }}
    <div class="">
        {{ form_row(form.city) }}
    </div>
    <div class="">
        {{ form_row(form.adress) }}
        <a href="{{ path('create_adress') }}">➕</a>
    </div>
    <div class="">
        <label>Rue :
            <input type="text" value="{{ street }}" readonly class="form-control">
        </label>
    </div>
    <div class="">
        <label>Latitude :
            <input type="text" value="{{ latitude }}" readonly class="form-control">
        </label>
    </div>
    <div class="">
        <label>Longitude :
            <input type="text" value="{{ longitude }}" readonly class="form-control">
        </label>
    </div>

    <div class="">
        <label>Campus :
            <input type="text" value="{{ app.user.campus.name }}" readonly class="form-control">
        </label>
    </div>


    {% for field in form.children %}
        {% if field.vars.name not in ['adress', 'save', 'publish','cancel','duration','city'] %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}

    <span>
     {{ form_row(form.duration) }} minutes
    </span>
    {% if id is not null and is_granted('EVENT_EDIT', initialFormData) %}
    <div class="">
        <button
            type="submit"
            name="save"
            value="save"
            class="btn btn-secondary"
            data-action="live#action"
            data-live-action-param="save"
        >
            Sauvegarder
        </button>
    </div>
    {% endif %}

    {% if id is not null and is_granted('EVENT_EDIT', initialFormData) %}
    <div class="">
        <button
            type="submit"
            name="publish"
            value="publish"
            class="btn btn-primary"
            data-action="live#action"
            data-live-action-param="publish"
        >
            Publier la sortie
        </button>
    </div>
    {% endif %}

    {% if id is not null and is_granted('EVENT_CANCEL', initialFormData) %}
    <div class="">
        <button
            type="button"
            class="btn btn-secondary"
            onclick="openCancel()"
        >
            Annuler la sortie
        </button>
    </div>
    {% endif %}

        <div class="">
            <a href="{{ path('main_event') }}">
                <button class="btn btn-secondary">
                    Retour au menu
                </button>
            </a>
        </div>


    {#            Popup motif annulation #}
    <div id="cancel" class="cancelPopUp" style="display:none;">
        <div class="popUpContent">
            <p>Voulez vous vraiment annuler l'évènement ?</p>
            <p>Motif d'annulation obligatoire</p>
            <label>
                <textarea data-model="cancelReason" placeholder="Motif d'annulation (obligatoire)"></textarea>
            </label>
            <div>
                <button type="button" class="btn btn-secondary" onclick="closeCancel()">Fermer</button>
                <button type="button" class="btn btn-secondary" data-action="live#action"
                        data-live-action-param="cancel">Confirmer
                </button>
            </div>
        </div>
    </div>


    <script>
        function openCancel() {
            document.getElementById('cancel').style.display = 'flex';
        }

        function closeCancel() {
            document.getElementById('cancel').style.display = 'none';

        }

    </script>
    {{ form_end(form) }}

</div>
