{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <section class="index-section listUser ">
        {% if is_granted("ROLE_ADMIN") %}
            <h1 class="title-location">Utilisateurs</h1>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('create_user') }}">
                    <button class="create-location btn-create-event">Créer un nouvel utilisateur</button>
                </a>
            {% endif %}
            <table class="tableLocation ">
                <thead>
                <tr>
                    <th>Id :</th>
                    <th>Pseudonyme :</th>
                    <th>Role :</th>
                    <th>Nom :</th>
                    <th>Prenom :</th>
                    <th>Téléphone :</th>
                    <th>Email :</th>
                    <th>Actif :</th>
                    <th>Étudiant :</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ path('user_detail_id',{'id': user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.roles|join (', ') }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.active ? 'Oui' : 'Non' }}</td>
                        <td>{{ user.student ? 'Oui' : 'Non' }}</td>
                        <td>

                            <a href="{{ path('activate_user',{'id': user.id}) }}">
                                <button class="btn-update">Activer</button>
                            </a>
                            <a href="{{ path('deactivate_user',{'id': user.id}) }}">
                                <button class="btn-delete">Désactiver</button>
                            </a>
                            <a href="{{ path('delete_user',{'id': user.id}) }}">
                                <button class="btn-delete">Supprimer</button>
                            </a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas de donées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}
